.alert {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-bottom:0;
}

.navbar-default{
    margin-bottom: 0;
}

.nav.footer li {
    vertical-align: top;
}

.page-header {
    margin-top: 0;
}

.logo-navbar{
    height:45px;
    margin-top:-10px;
}

.logo-welcome-desktop{
    height:150px;
    margin-top:30px;
}

.logo-welcome-mobile{
    height:100px;
    margin-top:20px
}

.emphasize {
    color:000;
    font-weight:800;
}

#faq_list .panel {
    margin-bottom: 15px;
}

.tt-open {
    background-color: #fff;
    border:1px #2196f3 dashed;
    border-top:0;
    width:100%;
    padding:5px;
}

#schedule > .panel-body,
.signup-list .panel-body,
.team-list .panel-body {
    padding:0;
}

// may not need this anymore since it was only for captain star
.signup-list .panel-body p > i.legend,
.team-list .panel-body p > i.legend {
    margin-top:10px;
    margin-left:5px;
}

#schedule table,
.signup-list table,
.team-list table {
    margin-bottom: 0;
}


#schedule ul.list-unstyled {
    margin:15px;
    margin-bottom:26.5px
}

@media screen and (max-width: 767px) {
    #schedule .table-responsive,
    .signup-list .table-responsive,
    .team-list .table-responsive {
        margin-bottom:0;
        border:none;
    }
}

.tt-hint {
    color:#a6a6a6;
}

.twitter-typeahead {
    display:block !important;
}