// .nav.footer li {
//     vertical-align: top;
// }

.logo-navbar{
    height:45px;
    margin-top:-10px;
}

.logo-welcome-desktop{
    height:150px;
    margin-top:30px;
}

.logo-welcome-mobile{
    height:100px;
    margin-top:20px
}

label.required:after {
    content:" *";
}

// .emphasize {
//     color:000;
//     font-weight:800;
// }