.alert {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.navbar-default{
    margin-bottom: 0;
}

.page-header {
    margin-top: 0;
}

.logo-navbar{
    height:45px; margin-top:-10px;
}

.logo-welcome-desktop{
    height:150px; margin-top:30px;
}

.logo-welcome-mobile{
    height:100px; margin-top:20px
}