.alert {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-bottom:0;
}

.navbar-default{
    margin-bottom: 0;
}

.page-header {
    margin-top: 0;
}

.logo-navbar{
    height:45px;
    margin-top:-10px;
}

.logo-welcome-desktop{
    height:150px;
    margin-top:30px;
}

.logo-welcome-mobile{
    height:100px;
    margin-top:20px
}

.emphasize {
    color:000;
    font-weight:800;
}

#faq_list .panel {
    margin-bottom: 15px;
}

.tt-open {
    background-color: #fff;
    border:1px #2196f3 dashed;
    border-top:0;
    width:100%;
    padding:5px;
}


.tt-hint {
    color:#a6a6a6;
}

.twitter-typeahead {
    display:block; !important

}